mixin b-about()
  .b-about
    .container
      .ui-label we do
      .b-about__info.lead A full range of services that allows large
        span.text-primary
          span.text-nowrap  e-commerce
          |  projects
        |  to increase their business volume and improve the quality of service
    picture
      source(srcset="assets/media/content/b-about/img-1.webp" type="image/webp")
      img.img-fluid(src="assets/media/content/b-about/img-1.jpg" alt="Team" loading="lazy" decoding="async")
