mixin b-vacancy-item()
  article.b-vacancy-f
    .container
      h1.ui-title Backend developer
        span.text-primary  {JOOMLA}
      .b-vacancy-f__note Salary based on interview results
      ul.ui-tag-list-2.list-unstyled
        li.ui-tag-list-2__item prestashop
        li.ui-tag-list-2__item oscommerc
        li.ui-tag-list-2__item.ui-tag-list-2__item_dots

      .b-vacancy-f__descrip
        .b-vacancy-f__descrip-item
          .b-vacancy-f__descrip-info Full-Time
          .b-vacancy-f__descrip-label employment
        .b-vacancy-f__descrip-item
          a.b-vacancy-f__descrip-info(href="/") USA, Boston
          .b-vacancy-f__descrip-label link
        .b-vacancy-f__descrip-item
          a.b-vacancy-f__descrip-info(href="mailto:hello@gmail.com") hello@gmail.com
          .b-vacancy-f__descrip-label write to us



      .row
        .col-xl-8
          section.b-vacancy-f__section
            h2.ui-title-inner What to do
            ul.ui-list
              li Minor adjustments in ongoing projects;
              li Design of architectural applications;
              li Design of integration mechanisms;
              li Development (programming) of complex system modules;
              li Initiative and implementation of new technologies on projects


          section.b-vacancy-f__section
            h2.ui-title-inner Our requirements
            ul.ui-list
              li Experience in developing projects on the LAMP stack;
              li Deep understanding of PHP/JavaScript/jQuery;
              li Knowledge of MySQL, ability to distinguish between types of indexes, build join queries;
              li Experience with eCommerce;
              li Have skills in working with Git;
              li English at intermediate level;
              li Ability to understand other people's code;
              li Responsibility and attention to detail;
              li Desire to work in a close-knit team of professionals;
              li Ability to independently solve any technical problems;
              li Understanding of the entire process of launching web applications, from purchasing a domain to setting up a server and developing backend and frontend modules;
              li Desire to become a professional and strong specialist;

          section.b-vacancy-f__section
            h2.ui-title-inner We use (technologies and languages)
            ul.ui-list
              li PHP, Opcache, Cookies, Sessions
              li .htaccess
              li javascript, jQuery, Ajax
              li HTML, CSS, SASS, Compass
              li Git, source tree
              li Schema markup
              li MySQL, SQL, adminer
              li variety of APIs:.

          section.b-vacancy-f__section
            h2.ui-title-inner Working conditions
            ul.ui-list
              li Salary in dollars;
              li Remote work 5/2;
              li Potential for development and growth;
              li Probation period - 1 month;
              li Work in the fastest growing segment - e-commerce!

        aside.col-xl-4.mt-5.mt-xl-0
          blockquote.ui-blockquote
            p The client wanted regular retail customers to have the same discounts (but the level no longer increased) and to have the opportunity to switch to a new bonus system. And all new customers simply have to join the bonus program automatically.
            footer.ui-blockquote__footer.row.no-gutters.align-items-center
              .col-auto
                picture
                  source(srcset="assets/media/content/face/1.webp" type="image/webp")
                  img.ui-blockquote__face.img-scale(src="assets/media/content/face/1.jpg" alt="image" loading="lazy" decoding="async")
              .col
                span.ui-blockquote__title Steve Jobs
                span.ui-blockquote__category CO FOUNDER


  // end .b-vacancy-f
  |
  |


