mixin b-technology()
  section.b-technology.section-default
    .container
      .ui-header
        .ui-title-group.row.align-items-xl-baseline.align-items-end
          .col-md
            h2.ui-title Technology
              span.text-primary  stack
          .col-auto
            .ui-category Vacancies
              span.ui-category__total 02

      .b-technology__section
        h3.ui-title-inner CMS and frameworks
        ul.ui-tag-list.ui-tag-list_white.list-unstyled
          li.ui-tag-list__item prestashop
          li.ui-tag-list__item magento
          li.ui-tag-list__item cs-cart
          li.ui-tag-list__item opencart
          li.ui-tag-list__item x-cart
          li.ui-tag-list__item oscommerc
          li.ui-tag-list__item joomla virtuemart
          li.ui-tag-list__item zend framework
          li.ui-tag-list__item php, asp frameworks
          li.ui-tag-list__item.ui-tag-list__item_dots

      .b-technology__section
        h3.ui-title-inner Integration
        ul.ui-tag-list.ui-tag-list_white.list-unstyled
          li.ui-tag-list__item prestashop
          li.ui-tag-list__item magento
          li.ui-tag-list__item cs-cart
          li.ui-tag-list__item opencart
          li.ui-tag-list__item x-cart
          li.ui-tag-list__item oscommerc
          li.ui-tag-list__item joomla virtuemart
          li.ui-tag-list__item zend framework
          li.ui-tag-list__item php, asp frameworks
          li.ui-tag-list__item.ui-tag-list__item_dots

      .b-technology__section
        h3.ui-title-inner Payment systems
        ul.ui-tag-list.ui-tag-list_white.list-unstyled
          li.ui-tag-list__item prestashop
          li.ui-tag-list__item magento
          li.ui-tag-list__item cs-cart
          li.ui-tag-list__item opencart
          li.ui-tag-list__item x-cart
          li.ui-tag-list__item oscommerc
          li.ui-tag-list__item joomla virtuemart
          li.ui-tag-list__item zend framework
          li.ui-tag-list__item php, asp frameworks
          li.ui-tag-list__item.ui-tag-list__item_dots

      .b-technology__section
        h3.ui-title-inner Delivery systems
        ul.ui-tag-list.ui-tag-list_white.list-unstyled
          li.ui-tag-list__item prestashop
          li.ui-tag-list__item magento
          li.ui-tag-list__item cs-cart
          li.ui-tag-list__item opencart
          li.ui-tag-list__item x-cart
          li.ui-tag-list__item oscommerc
          li.ui-tag-list__item joomla virtuemart
          li.ui-tag-list__item zend framework
          li.ui-tag-list__item php, asp frameworks
          li.ui-tag-list__item.ui-tag-list__item_dots

      .b-technology__section
        h3.ui-title-inner Advanced software
        ul.ui-tag-list.ui-tag-list_white.list-unstyled
          li.ui-tag-list__item prestashop
          li.ui-tag-list__item magento
          li.ui-tag-list__item cs-cart
          li.ui-tag-list__item opencart
          li.ui-tag-list__item x-cart
          li.ui-tag-list__item oscommerc
          li.ui-tag-list__item joomla virtuemart
          li.ui-tag-list__item zend framework
          li.ui-tag-list__item php, asp frameworks
          li.ui-tag-list__item.ui-tag-list__item_dots


  // end .b-technology
  |
  |


