mixin b-vacancy()
  section.section-default
    .container
      .ui-header
        .ui-title-group.row.align-items-xl-baseline.align-items-end
          .col-md
            h2.ui-title Open
              span.text-primary  vacancies
          .col-auto
            .ui-category Vacancies
              span.ui-category__total 02

      .b-vacancy
        span.b-vacancy__label Full-time
        h3.b-vacancy__title.ui-title-inner Backend developer
          span.text-primary  {JOOMLA}
        .b-vacancy__info Salary based on interview results
        .b-vacancy__footer
          ul.b-vacancy__tags-list.list-unstyled
            li.b-vacancy__tags-item prestashop
            li.b-vacancy__tags-item oscommerc
            li.b-vacancy__tags-item memcached
            li.b-vacancy__tags-item.b-vacancy__tags-item_dots

      .b-vacancy
        span.b-vacancy__label Full-time
        h3.b-vacancy__title.ui-title-inner Frontend developer {React}
          span.text-primary  {JOOMLA}
        .b-vacancy__info from $30,000
        .b-vacancy__footer
          ul.b-vacancy__tags-list.list-unstyled
            li.b-vacancy__tags-item prestashop
            li.b-vacancy__tags-item oscommerc
            li.b-vacancy__tags-item memcached
            li.b-vacancy__tags-item.b-vacancy__tags-item_dots

      .b-vacancy
        span.b-vacancy__label Full-time
        h3.b-vacancy__title.ui-title-inner Tester
          span.text-primary  {JOOMLA}
        .b-vacancy__info Salary based on interview results
        .b-vacancy__footer
          ul.b-vacancy__tags-list.list-unstyled
            li.b-vacancy__tags-item prestashop
            li.b-vacancy__tags-item oscommerc
            li.b-vacancy__tags-item memcached
            li.b-vacancy__tags-item.b-vacancy__tags-item_dots

      .b-vacancy__lead.lead There are more and more interesting projects, and our team continues to grow. If you haven’t found a suitable vacancy,
        |
        |
        a(href="mailto:mail@gmaim.com") write

  // end .b-vacancy
  |
  |


