mixin navig()
  ul.main-menu.navbar-nav.list-num
    li.main-menu__item
      a.main-menu__link(href="works.html") Works
        span.sr-only (current)
    li.main-menu__item
      a.main-menu__link(href="team.html") Team
    li.main-menu__item
      a.main-menu__link(href="clients.html") Clients

  // end .navig
  |
  |
