mixin b-time()
  .b-time.section-default
    .container
      .b-time__total 159,59,30
      .row.justify-content-between
        .col-md-auto
          .b-time__title hours per week
        .col-xl-5.col-md-7
          .b-time__info A full range of services that allows large e-commerce projects to increase their business volume and improve quality
