mixin b-clients()
  .b-clients-group
    .b-clients
      .b-clients__header
        span.b-clients__label 218 tasks
        button.b-clients__trigger(type="button" data-toggle="collapse" data-target="#collapseClients1" aria-expanded="false" aria-controls="collapseClients1")
          != pugHelpers.Icon.call(locals, {iconName: 'arrow-down', className: 'ic', iconWidth: '21.78', iconHeight: '11.08'})
          .b-clients__title.ui-title-inner Online store
            span.text-primary  Usfireplacestore.com
        .b-clients__date We have been working together since 2016.

      .b-clients__body.collapse#collapseClients1
        ul.b-clients-list.list-unstyled.row
          li.b-clients-list__item.col-md-6
            .b-clients-list__inner Development of custom functionality
          li.b-clients-list__item.col-md-6
            .b-clients-list__inner MVP 1.0 development
          li.b-clients-list__item.col-md-6
            .b-clients-list__inner Connecting delivery and payment modules
          li.b-clients-list__item.col-md-6
            .b-clients-list__inner Connecting delivery and payment modules
          li.b-clients-list__item.col-md-6
            .b-clients-list__inner Integration with CRM system
          li.b-clients-list__item.col-md-6
            .b-clients-list__inner Integration with CRM system
          li.b-clients-list__item.col-md-6
            .b-clients-list__inner Integration with marketing platforms
          li.b-clients-list__item.col-md-6
            .b-clients-list__inner Integration with marketing platforms

      .b-clients__footer
        a.b-clients__link(href="usfireplacestore.com" target="_blank") usfireplacestore.com
          != pugHelpers.Icon.call(locals, {iconName: 'external-link', className: 'ic', iconWidth: '16', iconHeight: '16'})
        a.b-clients__link(href="usfireplacestore.com" target="_blank") usfireplacestore.com
          != pugHelpers.Icon.call(locals, {iconName: 'external-link', className: 'ic', iconWidth: '16', iconHeight: '16'})
        a.b-clients__link(href="usfireplacestore.com" target="_blank") usfireplacestore.com
          != pugHelpers.Icon.call(locals, {iconName: 'external-link', className: 'ic', iconWidth: '16', iconHeight: '16'})

        .b-clients__info client sites


    .b-clients
      .b-clients__header
        span.b-clients__label 32 tasks
        button.b-clients__trigger(type="button" data-toggle="collapse" data-target="#collapseClients2" aria-expanded="false" aria-controls="collapseClients2")
          != pugHelpers.Icon.call(locals, {iconName: 'arrow-down', className: 'ic', iconWidth: '21.78', iconHeight: '11.08'})
          .b-clients__title.ui-title-inner
            span.text-primary Chiptuning
            |  cars in Germany
        .b-clients__date We have been working together since 2013.

      .b-clients__body.collapse#collapseClients2
        ul.b-clients-list.list-unstyled.row
          li.b-clients-list__item.col-md-6
            .b-clients-list__inner Development of custom functionality
          li.b-clients-list__item.col-md-6
            .b-clients-list__inner MVP 1.0 development
          li.b-clients-list__item.col-md-6
            .b-clients-list__inner Connecting delivery and payment modules
          li.b-clients-list__item.col-md-6
            .b-clients-list__inner Connecting delivery and payment modules
          li.b-clients-list__item.col-md-6
            .b-clients-list__inner Integration with CRM system
          li.b-clients-list__item.col-md-6
            .b-clients-list__inner Integration with CRM system
          li.b-clients-list__item.col-md-6
            .b-clients-list__inner Integration with marketing platforms
          li.b-clients-list__item.col-md-6
            .b-clients-list__inner Integration with marketing platforms

      .b-clients__footer
        a.b-clients__link(href="https://www.chiptuning.com/" target="_blank") chiptuning.com
          != pugHelpers.Icon.call(locals, {iconName: 'external-link', className: 'ic', iconWidth: '16', iconHeight: '16'})

        .b-clients__info client sites


    .b-clients
      .b-clients__header
        span.b-clients__label 218 tasks
        button.b-clients__trigger(type="button" data-toggle="collapse" data-target="#collapseClients3" aria-expanded="false" aria-controls="collapseClients3")
          != pugHelpers.Icon.call(locals, {iconName: 'arrow-down', className: 'ic', iconWidth: '21.78', iconHeight: '11.08'})
          .b-clients__title.ui-title-inner Electronic education
            span.text-primary  US
        .b-clients__date We have been working together since 2016.

      .b-clients__body.collapse#collapseClients3
        ul.b-clients-list.list-unstyled.row
          li.b-clients-list__item.col-md-6
            .b-clients-list__inner Development of custom functionality
          li.b-clients-list__item.col-md-6
            .b-clients-list__inner MVP 1.0 development
          li.b-clients-list__item.col-md-6
            .b-clients-list__inner Connecting delivery and payment modules
          li.b-clients-list__item.col-md-6
            .b-clients-list__inner Connecting delivery and payment modules
          li.b-clients-list__item.col-md-6
            .b-clients-list__inner Integration with CRM system
          li.b-clients-list__item.col-md-6
            .b-clients-list__inner Integration with CRM system
          li.b-clients-list__item.col-md-6
            .b-clients-list__inner Integration with marketing platforms
          li.b-clients-list__item.col-md-6
            .b-clients-list__inner Integration with marketing platforms

      .b-clients__footer
        a.b-clients__link(href="usfireplacestore.com" target="_blank") usfireplacestore.com
          != pugHelpers.Icon.call(locals, {iconName: 'external-link', className: 'ic', iconWidth: '16', iconHeight: '16'})
        a.b-clients__link(href="usfireplacestore.com" target="_blank") usfireplacestore.com
          != pugHelpers.Icon.call(locals, {iconName: 'external-link', className: 'ic', iconWidth: '16', iconHeight: '16'})
        a.b-clients__link(href="usfireplacestore.com" target="_blank") usfireplacestore.com
          != pugHelpers.Icon.call(locals, {iconName: 'external-link', className: 'ic', iconWidth: '16', iconHeight: '16'})

        .b-clients__info client sites


  button.btn-link(type="button") Show more

  // end .b-clients
  |
  |


